<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{70,80}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,198},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,45}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>btn_bcyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,100},{91,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{91,96}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_fx0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{72,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{72,88}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>btn_gzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,160},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>btn_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,92},{76,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,82}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,84},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>btn_smrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,96}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>btn_tc0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,86},{74,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{74,80}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>btn_wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>btn_zj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{78,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>icon_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,168},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>icon_sjbd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,96}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>icon_sjh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,96}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>z_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{62,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{62,30}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{414,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86785ccf6e7bf98b9bdd874df4434e96:1/1$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
